* {
  box-sizing: border-box;
}
h2 {
  margin: 0;
}
.body {
  margin: 0;
  padding: 10px;
  background: url('../pictures/background.jpg') no-repeat;
  background-size: cover;

}
.main {
  position: relative;
  height: 100vh;
}

/* Modal window */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  background-color: rgb(189, 241, 128);
  border-radius: 10px;
  box-shadow: 15px 8px 13px 2px rgb(32, 29, 30);
}
.modal__title {
  margin-bottom: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.madal__wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.modal__choosetext {
  margin-right: 30px;
  font-size: 24px;

}
.modal__select {
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  align-self: flex-start;
}
.modal__option {

}
.modal__btn {
  align-self: center;
  display: inline-block;
  padding: 10px 30px;
  width: 150px;
  border-radius: 10px;
}

/* table base */


.table {
  position: absolute;
  top: 0;
  left: 50%;
  height: 99vh;
  transform: translateX(-50%);
  table-layout: fixed;
  width: 50%;
  /* max-width: 50vw; */
  border-spacing: 20px;

}
.tr {
}
.th {
  position: relative;
  height: 25%;
  width: 25%;
  background-color: rgb(189, 241, 128);

}
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgb(241, 239, 88);
  border-radius: 5px;
  box-shadow: 15px 8px 13px 2px rgb(32, 29, 30);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  perspective: 1000px;
  transition: 1s;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
/* .card__front{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  transform: rotateY(0);
}
.card__back:hover {
  transform: rotateY(360deg);
}
.card__front:hover {
  transform: rotateY(180deg);
} */

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #BBDEFB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}
